<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="../static/css/css.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="top">
    <div class="logo">
        <img src="../static/img/logo.png" width="371" height="43"/>
    </div>
</div>


<div class="main">
    <div class="nav">
        <a href="/file/"><img src="../static/img/02.png" width="130" height="35"/></a>
        <a href="/report/"><img src="../static/img/03.png" width="130" height="35"/></a>
        <a href="/config/"><img src="../static/img/04.png" width="130" height="35"/></a>
    </div>
    <div class="explain">
        <h1>使用说明</h1>
        <ul>
            <li>准备考勤excel文件,考勤系统直可以解析后缀名为xls和xlsx的文件</li>
            <li>输入考勤系统页面,点击加载数据，上传考勤excel文件</li>
            <li>上传完毕后,点击员工管理，选择时间,点击计算</li>
            <li>点击统计查询，输入员工工号,点击查询,可查看该员工考勤情况</li>
            <li>如果要对某员工进行弹性考核</li>
            <li>点击员工管理,输入员工姓名,点击提示框里的员工工号,选择时间,点击添加,点击重新计算</li>
            <li>计算完毕后,点击统计查询,输入该员工工号,点击查询,即可查看修改后的结果</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>


<div class="foot">
    <div class="foot_main">
        <span>Copyright © 2014 SR All Rights Reserved 湘ICP备14013985号-1</span><span>湖南上容信息技术有限公司  </span>
    </div>
</div>


</body>
</html>
